
# Package Files #
*.jar
*.war
*.project
*.classpath
*.class

# gwt caches and compiled units #
src/main/gwt-unitCache/
src/main/webapp/WEB-INF/deploy/
src/main/webapp/WEB-INF/classes/
src/main/webapp/LoteriasWeb/


# boilerplate generated classes #
target/
.settings/
.apt_generated/

# more caches and things from deploy #
war/gwt_bree/
war/WEB-INF/deploy/
war/WEB-INF/classes/


#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/
